 * {
     padding: 0;
     margin: 0;
     list-style: none;
 }
 
 s,
 i,
 em {
     font-style: normal;
     text-decoration: none;
 }
 /*page1*/
 
 .setPage1 {
     width: 100%;
     padding-top: 1px;
     background-color: #847942;
     animation: bodyback 10s linear 2s infinite alternate;
 }
 
 @keyframes bodyback {
     0% {
         background-color: white;
     }
     90% {
         background-color: #1d1d1b;
     }
     100% {
         background-color: black;
     }
 }
 
 .content {
     position: relative;
 }
 
 .box1 {
     margin: 0 auto;
     position: absolute;
     left: 50%;
     top: -100px;
     transform: translateX(-50%);
 }
 
 .box1 span {
     font-size: 60px;
     font-weight: 700;
     position: relative;
     color: red;
     animation: bianshuai 1.6s linear infinite alternate;
 }
 
 .box1 span::after {
     content: '';
     width: 20px;
     height: 5px;
     position: absolute;
     right: -9px;
     bottom: 6px;
     background-color: rgba(10, 10, 10, .5);
     border-radius: 40%;
 }
 
 @keyframes bianshuai {
     0% {
         color: blue;
         text-shadow: 2px 2px 3px yellowgreen;
         top: 0px;
     }
     50% {
         color: red;
         text-shadow: 2px 2px 3px cyan;
         top: 10px;
     }
     100% {
         color: green;
         text-shadow: 2px 2px 3px pink;
         top: 0px;
     }
 }
 
 .box1 span:nth-child(1) {
     animation-delay: 0s;
 }
 
 .box1 span:nth-child(2) {
     animation-delay: 0.2s;
 }
 
 .box1 span:nth-child(3) {
     animation-delay: 0.4s;
 }
 
 .box1 span:nth-child(4) {
     animation-delay: 0.6s;
 }
 
 .box1 span:nth-child(5) {
     animation-delay: 0.8s;
 }
 
 .box1 span:nth-child(6) {
     animation-delay: 1s;
 }
 
 .box1 span:nth-child(7) {
     animation-delay: 1.2s;
 }
 
 .box1 span:nth-child(8) {
     animation-delay: 1.4s;
 }
 
 .box {
     width: 560px;
     height: 380px;
     margin: 240px auto 0;
     border: 1px solid #000;
     display: flex;
     box-shadow: 17px 10px 20px -7px rgba(10, 10, 10, .7);
 }
 
 .box ul {
     flex: 1;
     position: relative;
     transform-style: preserve-3d;
     transition: all 1s;
 }
 
 .box li {
     width: 100%;
     position: absolute;
     left: 0;
     top: 0;
     /*这里面只能给li切 大盒子和UL都不能切*/
     overflow: hidden;
 }
 
 .box li:nth-child(1) {
     transform: translateZ(190px);
 }
 
 .box li:nth-child(2) {
     transform: rotateX(-180deg) translateZ(190px);
 }
 
 .box li:nth-child(3) {
     transform: rotateX(90deg) translateZ(190px);
 }
 
 .box li:nth-child(4) {
     transform: rotateX(-90deg) translateZ(190px);
 }
 
 .btn_wrap {
     width: 560px;
     height: 1px;
     margin: 0 auto;
     position: relative;
     top: -190px;
 }
 
 .btn {
     width: 100px;
     height: 100px;
     background-color: yellowgreen;
     position: absolute;
     top: 50%;
     transform: translateY(-50%);
     text-decoration: none;
     line-height: 100px;
     text-align: center;
     color: #fff;
     font-size: 18px;
     font-family: '微软雅黑';
     border-radius: 5px;
 }
 
 .left_btn {
     left: -100px;
     box-shadow: 0px 10px 10px -7px rgba(10, 10, 10, .7);
 }
 
 .right_btn {
     right: -100px;
     box-shadow: 17px 10px 10px -7px rgba(10, 10, 10, .7);
 }
 
 .box ul:nth-child(2) img {
     margin-left: -140px;
 }
 
 .box ul:nth-child(3) img {
     margin-left: -280px;
 }
 
 .box ul:nth-child(4) img {
     margin-left: -420px;
 }
 /* 布局的思路 ：

			利用大盒子的flex伸缩容器 让每一个UL占四分之一的大小 同时让ul里面的图片向左走对应的UI的距离，将所谓的一张图用四个部分軿凑起来

		*/
 
 .ball {
     width: 300px;
     height: 300px;
     border-radius: 100%;
     background-color: gold;
     float: left;
     position: absolute;
     top: 55px;
     left: 60px;
     box-shadow: 0px 0px 100px 10px gold;
     overflow: hidden;
     animation: tiangouback 10s linear 2s infinite alternate;
 }
 
 @keyframes tiangouback {
     0% {
         box-shadow: 0px 0px 100px 10px gold;
     }
     100% {
         box-shadow: 0px 0px 0px 0px black;
     }
 }
 
 .ball::before {
     content: '';
     display: block;
     width: 300px;
     height: 300px;
     border-radius: 100%;
     background-color: rgba(0, 0, 0, .5);
     position: absolute;
     top: 200px;
     left: -340px;
     box-shadow: 0px 0px 35px 10px black;
     transform: all 1s;
     animation: tiangou 20s linear 2s infinite;
 }
 
 @keyframes tiangou {
     0% {
         top: 200px;
         left: -340px;
     }
     11% {
         top: 150px;
         left: -230px;
         background-color: rgba(0, 0, 0, .6);
     }
     50% {
         left: 0px;
         top: 0px;
         background-color: rgba(0, 0, 0, 1);
     }
     100% {
         top: -200px;
         left: 340px;
         background-color: rgba(0, 0, 0, .5);
     }
 }
 
 .luozi {
     margin-top: 20px;
     width: 100%;
     height: 300px;
     position: relative;
     left: 0;
     top: 0;
     perspective: 1px;
     perspective-origin: 50% 50%;
     z-index: 9999;
 }
 
 .luozi_img {
     width: 138px;
     height: 120px;
     background: url('../img/luozi.png') no-repeat;
     position: absolute;
     right: 0;
     top: 0;
     transform-origin: 50% 50%;
     transform-origin: bottom;
     cursor: pointer;
 }
 
 .tishi {
     color: hotpink;
     display: none;
 }
 
 .luozi_img:hover .tishi {
     display: block;
 }
 /*page2*/
 
 .setPage2 {
     position: relative;
     background: url('../img/back.png') 100% no-repeat;
     overflow: hidden;
 }
 
 .setPage2_img {
     width: 100%;
     height: 100%;
     background: url(../img/liux.png) 0 0 no-repeat;
     animation: liuxing 6s linear infinite;
 }
 
 @keyframes liuxing {
     0% {
         background-position: 900px -1029px;
         opacity: .9;
     }
     50% {
         background-position: 0 0px;
         opacity: 1;
     }
     100% {
         background-position: -900px 1029px;
         opacity: 0;
     }
 }
 
 .stars {
     overflow: hidden
 }
 
 .stars span:hover {
     cursor: pointer;
 }
 
 .shanX2 {
     display: block;
     position: absolute;
     left: 60%;
     top: 280px;
     width: 600px;
     height: 150px;
     background: url('../img/star2.png') 0 0 no-repeat;
     background-size: 100%;
 }
 
 .shanXscale {
     display: block;
     position: absolute;
     left: 60%;
     top: 50px;
     width: 100px;
     height: 100px;
     background: url('../img/shan5.png') 0 0 no-repeat;
     background-size: 100%;
     transform: scale(1) translate(-50%, -50%) rotate(0deg);
     animation: shanXscale 1s linear 1s infinite alternate;
 }
 
 .shanXscale2 {
     display: block;
     position: absolute;
     left: 70%;
     top: 400px;
     width: 50px;
     height: 50px;
     background: url('../img/shan5.png') 0 0 no-repeat;
     background-size: 100%;
     transform: scale(1) translate(-50%, -50%) rotate(0deg);
     animation: shanXscale 1s linear 1s infinite alternate;
     z-index: 1111;
 }
 
 @keyframes shanXscale {
     0% {
         transform: scale(1) translate(-50%, -50%) rotate(0deg);
     }
     100% {
         transform: translate(-50%, -50%) rotate(360deg) scale(1.5);
     }
 }
 
 .BeiDouX {
     display: block;
     position: absolute;
     left: 20%;
     top: 50px;
     width: 300px;
     height: 200px;
     background: url('../img/beidou.png') 0 0 no-repeat;
     background-size: 100%;
 }
 
 .ShanX {
     display: block;
     position: absolute;
     left: 50%;
     top: 50px;
     width: 100px;
     height: 100px;
     background: url('../img/star.png') 0 0 no-repeat;
     background-size: 100%;
     animation: 1s shanx 2s linear infinite alternate;
     transform: scale(1);
 }
 
 .ShanX:hover {
     transform: scale(2);
 }
 
 @keyframes shanx {
     0% {
         opacity: 1
     }
     100% {
         opacity: 0
     }
 }
 
 .KaTongX {
     display: block;
     width: 40px;
     height: 45px;
     background: url('../img/katong1.png') 10px 10px no-repeat;
     background-size: 20px 25px;
     position: absolute;
     left: 30%;
     top: 50px;
     border-radius: 100%;
     background-color: rgba(254, 241, 105, .6);
     box-shadow: 0px 0px 20px 7px rgba(254, 241, 105, .7);
     animation: 1s shanxing 100ms linear infinite alternate;
     z-index: 1111;
 }
 
 @keyframes shanxing {
     0% {
         box-shadow: 0px 0px 20px 7px rgba(254, 241, 105, .7);
     }
     100% {
         box-shadow: 0px 0px 20px 10px rgba(254, 241, 105, .7);
     }
 }
 
 .KaTongX2 {
     display: block;
     width: 30px;
     height: 35px;
     background: url('../img/katong.png') 5px 5px no-repeat;
     background-size: 20px 25px;
     position: absolute;
     left: 40%;
     top: 50px;
     border-radius: 100%;
     background-color: rgba(255, 255, 185, .7);
     box-shadow: 0px 0px 20px 7px rgba(255, 255, 185, .7);
     animation: shanxing2 2s linear infinite alternate;
 }
 
 .pickUpTheStar {
     animation: pickUpTheStar 1s linear forwards;
 }
 
 @keyframes pickUpTheStar {
     90% {
         opacity: 1;
     }
     100% {
         left: 46%;
         top: 500px;
         opacity: 0;
     }
 }
 
 @keyframes shanxing2 {
     0% {
         box-shadow: 0px 0px 20px 4px rgba(255, 255, 185, .7);
     }
     100% {
         box-shadow: 0px 0px 20px 15px rgba(255, 255, 185, .7);
     }
 }
 
 .sun {
     position: absolute;
     right: 230px;
     top: -70px;
     width: 377px;
     height: 390px;
     background: url('../img/sun.png') no-repeat;
 }
 
 .sun>span {
     display: block;
     width: 255px;
     height: 255px;
     border-radius: 50%;
     opacity: .5;
     position: absolute;
     left: 57px;
     top: 62px;
     overflow: hidden;
 }
 
 .sun>span>i {
     content: '';
     display: block;
     width: 256px;
     height: 249px;
     position: absolute;
     right: -256px;
     top: 12px;
     background: url('../img/isme.png') no-repeat;
 }
 
 .birthday {
     width: 200px;
     height: 300px;
     border: 1px solid #000;
     margin: 100px auto;
     position: absolute;
     right: 100px;
     bottom: 80px;
     text-align: center;
     z-index: 9999;
 }
 
 .son1,
 .son2 {
     position: absolute;
     width: 100%;
     height: 100%;
     left: 0;
     top: 0;
     line-height: 100%;
     z-index: 9999;
 }
 
 .birthday span {
     display: block;
     margin: 140px auto;
 }
 
 .son1 {
     background: url(../img/musicb.jpg) 0 0 no-repeat;
     transition-duration: 10s;
     transition-timing-function: linear;
 }
 
 .son2 {
     /*background: url(../img/musict.jpg) 0 0 no-repeat;*/
     background-color: pink;
     transform-origin: 0 0;
     transition: all 1s;
 }
 
 .birthday:hover .son2 {
     transform: rotateY(-180deg);
 }
 
 .birthday:hover .son1 {
     /*transform: rotateZ(720deg);*/
 }
 
 .setPage2_content {
     position: absolute;
     left: 20%;
     top: 50%;
     transform: translateX(-50%) translateY(-20%);
     width: 800px;
     height: 450px;
 }
 
 .content_left .page_btn {
     display: block;
     width: 50px;
     height: 25px;
     background-color: #617394;
     position: relative;
     font-size: 12px;
     text-shadow: -3px 2px 3px white;
     cursor: pointer;
 }
 
 .content_left .page_btn:hover {
     color: #fff191;
 }
 
 .content_left .page_btn::before {
     display: block;
     content: '';
     position: absolute;
     left: 0;
     top: -18px;
     border-right: 25px solid transparent;
     border-left: 25px solid transparent;
     border-bottom: 18px solid #617394;
 }
 
 .content_left .page_btn::after {
     display: block;
     content: '';
     position: absolute;
     left: 0;
     top: 25px;
     border-right: 25px solid transparent;
     border-left: 25px solid transparent;
     border-top: 18px solid #617394;
 }
 
 .content_left {
     width: 200px;
     float: left;
 }
 
 .content_right {
     margin-left: 30px;
     height: 100%;
     color: #1b1919;
     font-weight: 500;
 }
 
 .content_right div {
     width: 100%;
     height: 100%;
     float: right;
     display: none;
 }
 
 .content_right i {
     text-shadow: -2px 2px 3px gold;
     font-weight: 600;
 }
 
 .tag4>ul,
 .tag3>ul,
 .tag2>ul,
 .tag1>ul {
     margin-left: 60px;
     /*padding-top: 20px;*/
 }
 
 .tag4>ul>li,
 .tag3>ul>li,
 .tag2>ul>li,
 .tag1>ul>li {
     margin-top: 30px;
 }
 
 .tag4>ul span,
 .tag3>ul span,
 .tag2>ul span,
 .tag1>ul span {
     display: inline-block;
     width: 100px;
     height: 50px;
     line-height: 50px;
     border: 2px dashed hotpink;
     font-size: 18px;
     text-align: center;
     vertical-align: middle;
     background-color: #f0e37f;
     border-radius: 2px;
 }
 
 .tag2>ul i,
 .tag1>ul i {
     display: inline-block;
     font-size: 18px;
     padding-left: 50px;
 }
 
 .tag2>ul .eval_self,
 .tag1>ul .eval_self {
     height: 50px;
     vertical-align: top;
     line-height: 20px;
     width: 390px;
     padding-left: 0px;
     padding-left: 10px;
 }
 
 .tag4>ul .eval_self,
 .tag3>ul .eval_self {
     display: inline-block;
     height: 200px;
     vertical-align: top;
     line-height: 20px;
     width: 390px;
     padding-left: 10px;
 }
 
 @media (max-width: 1300px) {
     .setPage2_content {
         left: 60%;
     }
 }